* {
    box-sizing: border-box;
}

button:hover {
    cursor: pointer
}

html {
    font-size: 10px;
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    background-color: greenyellow;
}


body {
    background-color: orangered;
    width: 600px;
    margin: 0 auto;
    /* padding: 20px; */
}

h1 {
    font-size: 10em;
    font-family: 'Updock', cursive !important;
    margin: 0px;
    background-color: blueviolet;
    color: goldenrod;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

p {
    font-size: large;
    color: red;
    font-size: 3em;
    font-weight: 300;
    margin: 5px;
}

.bg-card {
    background-color: aquamarine;
}

.mission-statement {
    overflow-wrap: anywhere;
    text-align: center;
}

.gaming-data {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (min-width: 500px){
    body {
        width: 400px;
    }

    h1 {
        font-size: 3em;
    }
}

/* Tablet portrait */
@media only screen and (min-width: 800px) {
}

/* Tablet landscape */
@media only screen and (min-width: 1000px) {
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    /* Styles for screens larger than 992px */
}