* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    background-color: greenyellow;
}


body {
    /* display: flex; */
    /* align-self: flex-start;
    flex-direction: column; */
    background-color: orangered;
    width: 600px;
    margin: 0 auto;
    /* padding: 20px; */
}

p {
    font-size: large;
    color: red;
    font-size: 3em;
    font-weight: 300;
    margin: 5px;
}

h1 {
    font-size: 10em;
    font-family: 'Updock', cursive !important;
    margin: 0px;
    background-color: blueviolet;
    color: goldenrod;
    text-align: center;
}

.bg-card {
    background-color: aquamarine;
}

.mission-statement {
    overflow-wrap: anywhere;
    text-align: center;
}

.gaming-data {
    display: flex;
    justify-content: space-evenly;
}