/* https://www.reddit.com/r/webdev/comments/u5m4ue/frosted_class_effect_in_css_one_of_my_favorites/?utm_source=share&utm_medium=ios_app&utm_name=iossmf */

html {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    font-size: 15px;
    height: 100%;
    padding: 20px;
    background-color: greenyellow;
    width: 95%;
    display: flex;
}


body {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    flex-direction: column;
    background-color: orangered;
}

.item-1 {
    color: goldenrod;
    margin-left: 100px;
    width: 350px;
    /* border-radius: 8px;
    backdrop-filter:
        blur(20px);
    background-color:
        rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px raba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3); */
}

.item-2 {
    width: 85%;
    color: darkslateblue;
    border-radius: 8px;
    backdrop-filter:
        blur(20px);
    background-color:
        rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px raba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.item-3 {
    width: 70%;
    border-radius: 8px;
    backdrop-filter:
        blur(20px);
    background-color:
        rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px raba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.para {
    display: flex;
    font-size: large;
    color: red;
    font-size: 25px;
    font-weight: 300;
    margin: 5px;
}

.item-1 {
    padding: 5px;
}

h1 {
    font-size: 150px;
    font-family: 'Updock', cursive !important;
    margin: 0px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content:
}

.item-2 {
    padding: 10px;
}

.item-3 {
    padding: 1em;
}

.item-1 .item-2 .item-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.bg-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    background-color: aquamarine;
}