:root {
    --primary: #d00000;
    --secondary: #ffba08;
    --secondary-dark: #faa307;
    --primary-dark: #590004;
    --dark: #250001;
    --dark-dark: #03071e;
    --light: #f3f3f3;
}

* {
    box-sizing: border-box;
}

button:hover {
    cursor: pointer
}

html {
    font-size: 16px;
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    background-color: var(--light);
    /* Background Image below */
    background-image: url(./images/fire-bottom-seamless.jpg);
    background-size: cover;
    background-position: center;
}


body {
    background-color: var(--dark);
    max-width: 415px;
    margin: 0 auto;
    padding: 2px;
    opacity: 95%;
}

h1 {
    font-size: 10vh;
    font-family: 'Updock', cursive !important;
    margin: 0px;
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

p {
    margin: 5px;
}

#first-p,
#second-p,
#third-p {
    color: var(--primary);
    font-size: 1.5em;
}

.data-entry {
    text-align: center;
}

#vanity-explained {
    font-size: 1em;
    color: var(--primary-dark);
}

#vanity-example {
    font-size: .9em;
    color: var(--light);
}

#vanity-input {

}

.highlight {
    text-decoration: underline;
    text-decoration-color: var(--primary);
}

.highlight2{
    color: var(--primary);
}

.highlight3 {
    color: var(--dark-dark);
}

.bg-card {
    background-color: var(--secondary-dark);
}

.mission-statement {
    overflow-wrap: anywhere;
    text-align: center;
}

.gaming-data {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.gaming-data div {
    font-size: .8em;
}

footer {
    margin-top: 2px;
    color: white;
}

@media only screen and (min-width: 450px) {
    * {
        transition: .1s ease;
    }

    body {
        max-width: 500px;
    }

    h1 {
        /* font-size: 4em; */
    }

    p {
        font-size: 1.5em;
    }

    .gaming-data div {
        font-size: 1em;
    }
}

/* Tablet portrait */
@media only screen and (min-width: 768px) {
    * {
        transition: .1s ease;
    }

    body {
        max-width: 600px;
    }

    h1 {
        /* font-size: 4.25em; */
    }

    p {
        /* font-size: 2em; */
    }

    .gaming-data div {
        /* font-size: 1em; */
    }
}

/* Tablet landscape */
/* @media only screen and (min-width: 1000px) {
    * {
        transition: .1s ease;
    }

    body {
        max-width: 700px;
    }

    h1 {
        font-size: 5em;
    }

    p {
        font-size: 2em;
    }

    .gaming-data div {
        font-size: 1em;
    }
} */

/* Desktop */
/* @media only screen and (min-width: 1200px) {
    * {
        transition: .1s ease;
    }

    body {
        max-width: 800px;
    }

    h1 {
        font-size: 5.25em;
    }

    p {
        font-size: 2em;
    }

    .gaming-data div {
        font-size: 1em;
    }
} */